<div class="grid-container">

    <!-- Property binding! binding an HTML attribute(property) to a TS variable's value-->
    <div class="todo-card" [hidden]="hiddenToggle">
        <!-- String Interpolation Taking TS values and putting them in our HTML as text-->
        <h2>Todo #{{todosArray[0].id}}</h2>
        <p>Task: {{todosArray[0].content}}</p>
        <p>Status: {{todosArray[0].status}}</p>
        <label for="updateBox{{todo1.id}}">Update Tasks</label>
        <input id="updateBox{{todo1.id}}" [(ngModel)]="todo1.content"/>
    </div>

    <div class="todo-card" [hidden]="hiddenToggle">
        <h2>Todo #{{todosArray[1].id}}</h2>
        <p>Task: {{todosArray[1].content}}</p>
        <p>Status: {{todosArray[1].status}}</p>
        <label for="updateBox{{todo2.id}}">Update Tasks</label>
        <input id="updateBox{{todo2.id}}" [(ngModel)]="todo2.content"/>
    </div>

    <div class="todo-card" [hidden]="hiddenToggle">
        <h2>Todo #{{todosArray[2].id}}</h2>
        <p>Task: {{todosArray[2].content}}</p>
        <p>Status: {{todosArray[2].status}}</p>
        <label for="updateBox{{todo3.id}}">Update Tasks</label>
        <input id="updateBox{{todo3.id}}" [(ngModel)]="todo3.content"/>
    </div>
</div>

<br>
<br>
 <!-- Event Binding! We're binding a button click to a function in our TS -->
 <button (click) = "toggleVisibility()">Show Todo List</button>